/*************************************
    Landing Page Styles 
**************************************/
/* Header */
header.landing-header{
    padding:3em 0;
    background-color:#def5ec;
    color:#0d5b41;
    text-align:center;
}
header.landing-header h2{
    margin-bottom:1.5em;
}
header.landing-header p{
    width:100%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
header.landing-header a.btn{
    margin-top:1.5em;
    margin-left:auto;
    margin-right:auto;
}

/* Landing Page Main Section */
main{
    padding-top:2em;
    padding-bottom:0;
}
.landing-sec{
    margin-bottom:2em;
}
.landing-sec div{
    text-align:center;
}
.landing-sec img{
    width:100%;
    max-width:500px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
}
.landing-sec div h3{
    color:#0d5b41;
    margin-bottom:1.5em;
}
@media(max-width:767px){
    .landing-sec:nth-child(even){
        display:flex;
        flex-direction:column-reverse;
    }
}
@media(min-width:425px){
    .landing-sec div{
       width:80%;
       margin-left:auto;
       margin-right:auto;
    }
}
@media(min-width:768px){
    .landing-sec{
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        padding:1.5em 0;
    }
    .landing-sec div{
       margin:0;
    }
    .landing-sec div,
    .landing-sec img{
        width:50%;
    }
    .landing-sec img{
        box-shadow:0 2px 15px -4px rgba(0,0,0,0.15);
    }
}
@media(min-width:1024px){
    .landing-sec div{
        width:40%;
    }
    .landing-sec img{
        margin:0;
    }
}

/* Green section */
.landing-sec-green{
    background-color:#05a870;
    color:#fff;
    font-weight:bold;
    text-align:center;
    padding: 3em 0;
}
.landing-sec-green p{
    width:100%;
    max-width:600px;
    margin:2em auto;
}
.landing-sec-green a.btn{
    margin-left:auto;
    margin-right:auto;
}